# Ambiente Virtual
venv/
__pycache__/

# Arquivos de Segredo - NUNCA ENVIAR PARA O GITHUB
.env
credentials.json

# --- MUDANÇA ---
# Dados Coletados - Pasta de relatórios gerados pela aplicação
relatorios/

# Arquivos de Sistema
*.pyc
.DS_Store